/*--------------------------- B U T T O N ----------------------------------------------------------------------*/
*{vertical-align: baseline;

}

.bt {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bt-birusoft{
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da;
}
.bt-birusoft.focus
{
    color:#fff;
    background-color:#286090;
    border-color:#122b40
}
.bt-birusoft:hover{
    color:#fff;
    background-color:#35b4da;
    border-color:#35b4da;
}

/*--------------------------- F O R M ----------------------------------------------------------------------*/
.model-form{
    width:30%;
    padding:30px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}


.model-form h1{
     background: #63c9f0;
     padding: 20px 30px 15px 30px;
     margin: -30px -30px 30px -30px;
     border-radius: 10px 10px 0 0;
     color: #fff;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
     font: normal 30px 'Cambria', serif;
     border: 1px solid #257C9E;
 }
.model-form .imgprofil{
    width: 100%;
    align : center;
    margin : -27px 0px 0px -27px;
    border: transparent;
    border-radius: 4%;
    height: 200px;
 }
.model-form img {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.model-form .kotak{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 10px;
    margin-bottom: 15px;
}
.model-form h1{
    background: #63c9f0;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Cambria', serif;
    border: 1px solid #257C9E;
}
.model-form label{
    display: block;
    font: 14px Cambria sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.model-form input[type="text"],
.model-form input[type="email"],
.model-form input[type="password"],
.model-form input[type="date"],
.model-form textarea,
.model-form select {
    display: block;

    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);

}

.model-form .nomor{
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
    padding-top:20px;
}
.model-form .nomor span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.model-form input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
    margin-left: 25%;
}

.model-form input[type="button"]:hover,
.model-form input[type="date"]:hover,
.model-form input[type="submit"]:hover{
    background: #2A6881;

    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
 .register {
    width: 30%;

     display: block;

 }

.model-form model {
    width: 100%;

    display: block;

}

.login-kiri {
    padding: 80px 10px 10px 10px;
    position: fixed;
    right: -25%;
    width: 60%;

}

.model-form .profil{
    background: #63c9f0;
    width: 100%;

    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Cambria', serif;
    border: 1px solid #63c9f0;
}

.kiri{
    float: left;
}
/*---------------------------------------------------MODAL-----------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s;
    font-family : "Century Gothic";
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}


.modal-content h1{
    background: #2A88AD;
    padding: 5px 20px 10px 20px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px;
    color: #fff;
    font: normal 20px 'Cambria', serif;
    border: 1px solid #257C9E;
}


input
{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);

}


@-webkit-keyframes animatetop {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes animatetop {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close {
    color: #ffffff;
    float: right;
    margin : -30px -25px 0px -10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #aaaaaa;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}



/*--------------------------- T A B E L----------------------------------------------------------------------*/

.tabel {

    min-height: .01%;
    overflow-x: auto;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-color: black;
    border : 2px;
}
.tabel td, .tabel>tbody>tr>td, .tabel>tbody>tr>th, .tabel>tfoot>tr>td, .tabel>tfoot>tr>th, .tabel>thead>tr>td, .tabel>thead>tr>th {
    padding: 15px 10px !important;
    font-size: 20px;
    color: black;
    border-top: none !important;
    border :2px solid #ddd;

}


.tabel-garis {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th {
    color: #00C6D7!important;
    font-weight: 400;
}

/*------------------------ END TABLE --------------------------------------------*/

/*-------------------------------------------- tab-------------------------------------------- */
.tab-gaya{
    position: fixed;
}
#a1{
    position: fixed;
    width: 70%;
    height: 50px;
    background-color: red;
    margin: 200px;
}
#a2{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: blue;
    margin: 200px;
    display: none;
}
#a3{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: green;
    margin: 200px;
    display: none;
}

.kotak {
    background: #fff;
    padding: 20px 20px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #E7E7E8;
    margin-top: 10px;
}


/*--------------- ----------------------------------IMG --------------------------------------------------------------------------------*/

.img-bulat {
    width: 100px;
    height: 100px;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.img-petak {
    width: 100px;
    height: 100px;
    padding: 6px 0;

    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.model-form table>tr>td>img{
    width: 100px;
    height: 100px;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}


