
/*--------------------------- B U T T O N ----------------------------------------------------------------------*/

.bt {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bt-birusoft{
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da;
}
.bt-birusoft.focus
{
    color:#fff;
    background-color:#286090;
    border-color:#122b40
}
.bt-birusoft:hover{
    color:#fff;
    background-color:#35b4da;
    border-color:#35b4da;
}

/*--------------------------- F O R M ----------------------------------------------------------------------*/
.model-form{
    width:40%;
    padding:30px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    left: 0%;
}

.model-form .kotak{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.model-form h1{
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Cambria', serif;
    border: 1px solid #257C9E;
}

.model-form label{
    display: block;
    font: 14px Cambria sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.login-kiri {
    padding: 80px 10px 10px 10px;
    position: fixed;
    right: -25%;
    width: 60%;

}



.img-bulat {
    width: 100px;
    height: 100px;
    padding: 6px 0;
    border-radius: 50%;
    font-size: 12px;
    left: auto;
}

/*---------------------------------------------------MODAL-----------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s
    font-family : "Century Gothic";
}


@-webkit-keyframes animatetop {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes animatetop {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}